@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cairo;
  src: url("../assets/fonts/Cairo-Regular.ttf");
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Cairo" !important;

  color: rgb(var(--foreground-rgb));
  background-image: url('../assets/pyramids.jpeg') ;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: bottom left;

}
.collection-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.collection-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}



